In [16]:

# Problem 1: Unique Words in a Sentence

# Taking input from user
sentence = input("Enter sentence: ")

# Splitting sentence into words
words = sentence.split()

# Converting list to set to remove duplicates
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: pyytho is usefl language for model trsing
Unique words count: 7
Unique words: {'is', 'trsing', 'model', 'for', 'usefl', 'language', 'pyytho'}

In [17]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_employee = max(employees, key=employees.get)
print(f"Highest Salary: {highest_employee} - {employees[highest_employee]}")

Highest Salary: Ravi - 75000

In [18]:
# Problem 3: Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

# Loop through list
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [19]:
# Problem 4: Count Products Above a Price Threshold

prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [20]:
# Problem 5: Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

attendance_percentage = (present_count / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

In [21]:
# Problem 6: Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [22]:
# Problem 7: Count Character Frequency

text = "python"
char_count = {}

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [23]:
# Problem 8: Convert List to Tuple

lst = [10, 20, 30]
tpl = tuple(lst)

print("Tuple:", tpl)

Tuple: (10, 20, 30)

In [24]:
# Problem 9: Check if a Key Exists in a Dictionary

employees = {"Ravi": 75000, "Anita": 68000}

key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [25]:
# Problem 10: Calculate Average Marks

marks = [70, 75, 80, 65]

average_marks = sum(marks) / len(marks)

print("Average Marks:", average_marks)

Average Marks: 72.5